html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
#site-container{
display: flex;
flex-direction: column;
height: 100%;
}
.hero{
height: 100%;
align-self: center;
}
.nav {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding: 10px 0px;
}

.btn {  font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;}
.btn:hover .btn-slide-show-text1 {  margin-left: 65px;}  
.btn-text-stretch {  letter-spacing: 0px;  box-sizing: inherit;  transition-property: all;  transition-duration: 0.6s;  transition-timing-function: ease;  cursor: pointer;  font-size: 16px;  font-weight: 400;  line-height: 45px;  margin: 0px 0px 2em;  max-width: 160px;  position: relative;  text-decoration: none;  text-transform: uppercase;  width: 100%;  text-align: center;  padding-left: 10px;  padding-right: 10px;  font-family: lato, serif;}  
.btn-text-stretch:hover {  letter-spacing: 5px;}  
.btn-text-stretch::before {  backface-visibility: hidden;  border: 1.5px solid transparent;  bottom: 0px;  content: " ";  display: block;  margin: 0px auto;  position: relative;  transition: all 0.4s ease-in-out 0s;  width: 0px;}  
.btn-text-stretch:hover::before {  backface-visibility: hidden;  transition: width 0.5s ease-in-out 0s;  width: 70%;  bottom: auto;  top: 0px;  width: 70%;}  
.btn-text-stretch--gray {  color: rgb(51, 51, 51);}  
.btn-text-stretch--gray:hover::before {  border-color: rgb(51, 51, 51);}  
path {
    transform-origin: 50% 0%;
  }
  .background--custom {
    background-color: #FFFFFF;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
  }
  @keyframes path0 {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  @keyframes path1 {
    0% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @keyframes path2 {
    0% {
      transform: rotate(40deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }